body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(216, 216, 250);
   }






h1 {
    color: #333;
    font-size: 50px;
}

.hangman img {

    width: 400px;
    height: auto;
    /* Aqui você pode definir estilos para a imagem da forca */
    max-width: 100%;
}

.word p {
    font-size:30px;
    color: #333;
}

.guess {
    margin-top: 30px;
}

label {
    font-size: 30px;
}

input {
    width: 30px;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0 10px;
}

button {
    background-color: #333;
    color: #fff;
    font-size: 30px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}